<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidstudy2"
        tools:targetApi="31">
        <activity
            android:name=".Photo"
            android:exported="false" />
        <activity
            android:name=".GPS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Orientation"
            android:exported="true"></activity>
        <activity
            android:name=".Sensor2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sensor1"
            android:exported="true" />
        <activity
            android:name=".SensorList"
            android:exported="true" />
        <activity
            android:name=".DeviceInfo"
            android:exported="true" />
        <activity
            android:name=".Rotation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Resolution"
            android:exported="true" />
        <activity
            android:name=".Localization"
            android:exported="true" />
        <activity
            android:name=".NinePatchImage"
            android:exported="true" />
        <activity
            android:name=".ImageAnimation"
            android:exported="true" />
        <activity
            android:name=".ImageResource"
            android:exported="true" />
        <activity
            android:name=".ResBasic"
            android:exported="true" />
        <activity
            android:name=".PreferencesScreen"
            android:exported="true" />
        <activity
            android:name=".Preferences"
            android:exported="true" />

        <provider
            android:name=".TestProvider"
            android:authorities="com.smalldogg.dbprovider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".CPApp1"
            android:exported="true" />
        <activity
            android:name=".SQLiteDatabase2"
            android:exported="true" />
        <activity
            android:name=".SQLiteDatabase1"
            android:exported="true" />
        <activity
            android:name=".Assets"
            android:exported="true" />
        <activity
            android:name=".RawFileLoader"
            android:exported="true" />
        <activity
            android:name=".FileData"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicationClass"
            android:exported="true" />
        <activity
            android:name=".CodeView"
            android:exported="true" />
        <activity
            android:name=".XmlViewActivity"
            android:exported="true" />
        <activity
            android:name=".DrawerLayoutActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Androidstudy2.NoActionBar" />
        <provider
            android:authorities="com.smalldogg.study.androidstudy2.camera.file_provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>